@import '../product-details/product-details.component.scss';

.uploadParent {
    border: 1px solid $lightGray;
    border-radius: 15px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}

// $whiteColor: #ffffff;
// $blackColor: #000000;
// $lightGreen: #81ffca;
// $lightPink: #FFDCDC;
// $lightGray: #d1d1d1;
// $lighterGrayColor: #EFEFFF;
// $middleGrayColor: #EAEAFF;
// $redColor: #D80008;
.uploadDiv {
    background-color: $lighterGrayColor;
    border-radius: 15px;
    border: 2px dashed $lightGray;

}

.form-control , .form-select {
    padding: 5px 10px;
    outline: none;
    box-shadow: none;
    transition: all .5;
}

.form-control  , .form-select{
    border-color: $lightGray ;
}