@import '../order-management/order-management.component.scss';

.head {
  min-height: 100vh;
}

.available i {
  color: green;
}

.unavailable i {
  color: $redColor;
}

.addProductBtn {
  border-radius: 15px;
  padding: 10px 5px;
}


::ng-deep ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
